@model TCQ_MVCEF.Models.Employee

<tr>
    <td>
        <input type="checkbox" name="employeeIdToDelete" id="employeeIdToDelete" value="@Model.EmployeeId" />
    </td>
    <td>
        @Model.Name
    </td>
    <td>
        @Model.Gender
    </td>
    <td>
        @Model.City
    </td>
    <td>
        @Model.HireDate
    </td>

</tr>